@charset "UTF-8";

header {
    h1 {
        margin: 30px 0;
        text-align: center;
        a {
            color: #000;
            text-decoration: none;
            &:visited {
                color: #000;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.top {
    header h1 {
        font-size: 3.2em;
        margin: 60px 0;
    }
}