<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="/css/common.css" media="all">
</head>
<body class="top">

    <link rel="stylesheet" href="/css/header.css" media="all">
    <header>
        <h1><a href="/">{{ site.title }}</a></h1>
    </header>

    <link rel="stylesheet" href="/css/main.css" media="all">
    <main>
        {{ content }}
    </main>

    <link rel="stylesheet" href="/css/footer.css" media="all">
    <footer>
        <p><small>Copyright <a href="https://github.com/sus-happy">@sus-happy</a>.</small></p>
    </footer>

</body>
</html>